*{
    margin:0;
    padding: 0;
}

header{
    width: 100%;
    background-color: rgb(25, 37, 33);
}

#menu{
    width: 75%;
    margin: 0 auto;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

#menu ul li{
    display: table-cell;
}

#menu ul li a{
    color: rgb(23, 247, 255);
    display: block;
    padding: 10px 40px;
    text-decoration: none;
    font-style: oblique;
}

#menu ul li a:hover{
    background-color: rgb(255, 0, 200);
    cursor: pointer;
}

.aqui{
    display: block;
    padding: 10px 35px;
    text-decoration: none;
    font-style: oblique;
    background-color: rgb(78, 78, 78);
}
@media screen and (max-width: 411px) {
    .hamburguer {
        background-color: var(--backgroud-color);
        width: 2em;
        height: 2em;
        margin: 3em;
        z-index: 1;
        cursor: pointer;
    }
    .lines {
        background-color: white;
        width: 100%;
        height: 5px;
        margin: 5px 0;
        
    }
    .hide{
        display: none;
    }

    .active{
        display: block;
    }

    nav ul{
        display: table;
        width: 100%;
    }
    
    nav ul li{
        display: list-item;
    }

}