/*
font de google open sans
color del border #bdc3c7
color de la data #3498db
linia divisora d'articles https://codepen.io/Oddgson/pen/VPrYbv
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    border: 10px solid #bdc3c7;
    margin: 10px auto;
    width: 75%;
    padding: 15px;
    font-size: 16px;
    max-width: 700px;
}



