td{
    width: 100px;
    height: 100px;
}

.all{
    border: 1px solid rgb(44, 0, 0);
}

.top-bot{
    border-top: 1px solid rgb(44, 0, 0);
    border-bottom: 1px solid rgb(44, 0, 0);
}

.left-right{
    border-right: 1px solid rgb(44, 0, 0);
    border-left: 1px solid rgb(44, 0, 0);
}
